html {
  font-size: 100%;
  line-height: 1.5em;
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-Regular.eot");
  src: url("../../../fonts/PTSans/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-Regular.woff") format("woff"), url("../../../fonts/PTSans/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-Bold.eot");
  src: url("../../../fonts/PTSans/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-Bold.woff") format("woff"), url("../../../fonts/PTSans/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-Italic.eot");
  src: url("../../../fonts/PTSans/PTSans-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-Italic.woff") format("woff"), url("../../../fonts/PTSans/PTSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-BoldItalic.eot");
  src: url("../../../fonts/PTSans/PTSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-BoldItalic.woff") format("woff"), url("../../../fonts/PTSans/PTSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PTSansCaption";
  src: url("../../../fonts/PTSans-Caption/PTSans-Caption.eot");
  src: url("../../../fonts/PTSans-Caption/PTSans-Caption.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Caption/PTSans-Caption.woff") format("woff"), url("../../../fonts/PTSans-Caption/PTSans-Caption.ttf") format("truetype");
}

@font-face {
  font-family: "PTSansCaption";
  src: url("../../../fonts/PTSans-Caption/PTSans-CaptionBold.eot");
  src: url("../../../fonts/PTSans-Caption/PTSans-CaptionBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Caption/PTSans-CaptionBold.woff") format("woff"), url("../../../fonts/PTSans-Caption/PTSans-CaptionBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSansNarrow";
  src: url("../../../fonts/PTSans-Narrow/PTSans-Narrow.eot");
  src: url("../../../fonts/PTSans-Narrow/PTSans-Narrow.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Narrow/PTSans-Narrow.woff") format("woff"), url("../../../fonts/PTSans-Narrow/PTSans-Narrow.ttf") format("truetype");
}

@font-face {
  font-family: "PTSansNarrow";
  src: url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.eot");
  src: url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.woff") format("woff"), url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-Regular.eot");
  src: url("../../../fonts/PTSerif/PTSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-Regular.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-Bold.eot");
  src: url("../../../fonts/PTSerif/PTSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-Bold.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-Italic.eot");
  src: url("../../../fonts/PTSerif/PTSerif-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-Italic.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-BoldItalic.eot");
  src: url("../../../fonts/PTSerif/PTSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-BoldItalic.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PTSerifCaption";
  src: url("../../../fonts/PTSerif-Caption/PTSerif-Caption.eot");
  src: url("../../../fonts/PTSerif-Caption/PTSerif-Caption.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif-Caption/PTSerif-Caption.woff") format("woff"), url("../../../fonts/PTSerif-Caption/PTSerif-Caption.ttf") format("truetype");
}

@font-face {
  font-family: "PTSerifCaption";
  src: url("../../../fonts/PTSerif-Caption/PTSerif-CaptionItalic.eot");
  src: url("../../../fonts/PTSerif-Caption/PTSerif-CaptionItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif-Caption/PTSerif-CaptionItalic.woff") format("woff"), url("../../../fonts/PTSerif-Caption/PTSerif-CaptionItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.header {
  background: url("../../../images/front/header.jpg") no-repeat center top;
  width: 100%;
  height: 654px;
}

.header__inner {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 654px;
}

.header__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.header__brand {
  float: left;
  padding-top: 30px;
}

.header__logo {
  background: url("../../../images/front/logo.png") no-repeat center top;
  width: 357px;
  height: 227px;
}

.header__madein {
  margin-top: 21px;
  margin-left: 32px;
}

.header__flag {
  background-image: url("../../../images/front/sprites.png");
  background-position: -636px -106px;
  width: 29px;
  height: 19px;
  display: inline-block;
}

.header__country {
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle;
  color: #3e3e3e;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 15px;
}

.header__nav {
  float: right;
  width: 68%;
  display: table;
  clear: right;
  margin-top: 60px;
  list-style-type: none;
}

.header__item {
  display: table-cell;
  max-width: 100px;
  color: #3e3e3e;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 15px;
}

.header__item--last {
  text-align: center;
}

.header__navlink {
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  color: #3e3e3e;
  font-size: 15px;
  text-decoration: none;
}

.header__navlink:hover {
  color: #585858;
  text-decoration: underline;
}

.header__buy {
  position: relative;
  top: 105px;
  float: left;
  clear: left;
  margin-left: 35px;
  padding: 22px 70px;
  background: #108e96;
  color: #fff;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 23px;
  text-decoration: none;
  border-radius: 5px;
}

.header__buy:hover {
  background: #0e787f;
}

.header__hgroup {
  float: right;
  margin: 180px 360px 0 0;
  max-width: 555px;
  text-align: right;
}

.header__title {
  color: #108e96;
}

.header__small {
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 42px;
  font-style: italic;
}

.header__large {
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 83px;
  font-weight: bold;
  font-style: italic;
}

.header__slogan {
  margin-top: 42px;
  margin-right: 10px;
  font-family: "PTSansNarrow", "PTSans", Helvetica, Arial, sans-serif;
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.header__down {
  background-image: url("../../../images/front/sprites.png");
  background-position: -353px -307px;
  width: 67px;
  height: 67px;
  display: block;
  position: absolute;
  left: 47%;
  bottom: -34px;
  text-decoration: none;
}

.pros {
  height: 570px;
  padding-top: 80px;
  background: #94c133;
}

.pros__inner {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
}

.pros__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.pros__title {
  margin-bottom: 60px;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
  text-align: center;
}

.pros__list {
  list-style-type: none;
  text-align: center;
}

.pros__item {
  display: inline-block;
  vertical-align: top;
  width: 24.5%;
}

.pros__circle {
  display: inline-block;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  line-height: 135px;
  border: solid 7px #fff;
  border-radius: 50%;
  text-align: center;
}

.pros__circle--blue {
  background: #108e96;
}

.pros__circle--gold {
  background: #efbf03;
}

.pros__icon {
  display: inline-block;
  vertical-align: middle;
}

.pros__icon--drop {
  background-image: url("../../../images/front/sprites.png");
  background-position: 0px -419px;
  width: 46px;
  height: 70px;
}

.pros__icon--pipet {
  background-image: url("../../../images/front/sprites.png");
  background-position: -514px -314px;
  width: 75px;
  height: 75px;
}

.pros__icon--slice {
  background-image: url("../../../images/front/sprites.png");
  background-position: -420px -307px;
  width: 66px;
  height: 66px;
}

.pros__icon--standard {
  background-image: url("../../../images/front/sprites.png");
  background-position: -514px -225px;
  width: 90px;
  height: 89px;
}

.pros__text {
  max-width: 230px;
  margin: 0 auto;
  color: #fff;
  font-family: "PTSansNarrow", "PTSans", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.35;
}

.pros__slogan {
  background: url("../../../images/front/slogan.png") no-repeat center top;
  position: absolute;
  bottom: -121px;
  left: 33%;
  width: 489px;
  height: 242px;
  padding: 55px 45px 0 135px;
  color: #5d5d5d;
  font: bold italic 21px/1.25 "PTSerif", "Times New Roman", serif;
  text-align: center;
}
