body {
  min-width: 320px;
}

.vitamins__item--B1, .vitamins__item--E {
  float: left;
  width: 42.75%;
}

.vitamins__wrap--CD, .vitamins__item--B2, .vitamins__item--B3 {
  float: left;
  width: 56.25%;
}

.vitamins__wrap--B, .vitamins__wrap--C, .vitamins__item--A, .vitamins__item--B6, .vitamins__item--B12, .vitamins__item--B9 {
  clear: both;
  width: 100%;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-Regular.eot");
  src: url("../../../fonts/PTSans/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-Regular.woff") format("woff"), url("../../../fonts/PTSans/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-Bold.eot");
  src: url("../../../fonts/PTSans/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-Bold.woff") format("woff"), url("../../../fonts/PTSans/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-Italic.eot");
  src: url("../../../fonts/PTSans/PTSans-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-Italic.woff") format("woff"), url("../../../fonts/PTSans/PTSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-BoldItalic.eot");
  src: url("../../../fonts/PTSans/PTSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-BoldItalic.woff") format("woff"), url("../../../fonts/PTSans/PTSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PTSansCaption";
  src: url("../../../fonts/PTSans-Caption/PTSans-Caption.eot");
  src: url("../../../fonts/PTSans-Caption/PTSans-Caption.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Caption/PTSans-Caption.woff") format("woff"), url("../../../fonts/PTSans-Caption/PTSans-Caption.ttf") format("truetype");
}

@font-face {
  font-family: "PTSansCaption";
  src: url("../../../fonts/PTSans-Caption/PTSans-CaptionBold.eot");
  src: url("../../../fonts/PTSans-Caption/PTSans-CaptionBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Caption/PTSans-CaptionBold.woff") format("woff"), url("../../../fonts/PTSans-Caption/PTSans-CaptionBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSansNarrow";
  src: url("../../../fonts/PTSans-Narrow/PTSans-Narrow.eot");
  src: url("../../../fonts/PTSans-Narrow/PTSans-Narrow.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Narrow/PTSans-Narrow.woff") format("woff"), url("../../../fonts/PTSans-Narrow/PTSans-Narrow.ttf") format("truetype");
}

@font-face {
  font-family: "PTSansNarrow";
  src: url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.eot");
  src: url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.woff") format("woff"), url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-Regular.eot");
  src: url("../../../fonts/PTSerif/PTSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-Regular.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-Bold.eot");
  src: url("../../../fonts/PTSerif/PTSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-Bold.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-Italic.eot");
  src: url("../../../fonts/PTSerif/PTSerif-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-Italic.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-BoldItalic.eot");
  src: url("../../../fonts/PTSerif/PTSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-BoldItalic.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PTSerifCaption";
  src: url("../../../fonts/PTSerif-Caption/PTSerif-Caption.eot");
  src: url("../../../fonts/PTSerif-Caption/PTSerif-Caption.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif-Caption/PTSerif-Caption.woff") format("woff"), url("../../../fonts/PTSerif-Caption/PTSerif-Caption.ttf") format("truetype");
}

@font-face {
  font-family: "PTSerifCaption";
  src: url("../../../fonts/PTSerif-Caption/PTSerif-CaptionItalic.eot");
  src: url("../../../fonts/PTSerif-Caption/PTSerif-CaptionItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif-Caption/PTSerif-CaptionItalic.woff") format("woff"), url("../../../fonts/PTSerif-Caption/PTSerif-CaptionItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.contact {
  background: #efbf03;
}

.contact__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.contact__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.contact__title {
  float: left;
  max-width: 40%;
  margin-top: 40px;
  margin-left: 18%;
  padding-right: 20px;
  vertical-align: top;
  color: #fff;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-style: italic;
  text-align: right;
}

.contact__button {
  display: none;
}

.contact__form {
  float: left;
  width: 45%;
  padding-top: 40px;
  padding-left: 15px;
}

.contact__small {
  font-size: 28px;
}

.contact__large {
  font-size: 54px;
  line-height: 0.7;
}

.contact__fio {
  float: left;
  margin-bottom: 15px;
}

.question .contact__fio {
  float: none;
}

.contact__email {
  float: left;
  clear: left;
  margin: 0;
}

.question .contact__email {
  float: none;
}

.contact__text {
  float: right;
  margin: 0;
  position: relative;
  top: -45px;
  font-size: 14px;
  border-radius: 5px;
}

.question .contact__text {
  float: none;
  position: static;
}

.contact__input {
  max-width: 190px;
  margin: 0;
  padding: 6px 6px 6px 12px;
  font-size: 14px;
  border: solid 1px #fff;
  border-radius: 5px;
}

.contact__input:focus {
  outline: none;
  border: solid 1px #999;
}

.question .contact__input:focus {
  border: solid 1px #999;
}

.question .contact__input {
  border: solid 1px #ccc;
}

.contact__textarea {
  max-width: 200px;
  max-height: 75px;
  margin: 0;
  padding: 12px 6px 6px 12px;
  font-size: 14px;
  border: solid 1px #fff;
  border-radius: 5px;
}

.contact__textarea:focus {
  outline: none;
  border: solid 1px #999;
}

.question .contact__textarea:focus {
  border: solid 1px #999;
}

.question .contact__textarea {
  margin: 20px auto;
  max-width: 190px;
  border: solid 1px #ccc;
}

.contact .webform-client-form {
  max-width: 410px;
  overflow: hidden;
}

.contact .form-actions {
  float: right;
  clear: both;
  margin: 0;
}

.contact .form-submit {
  position: relative;
  top: -38px;
  width: 200px;
  padding: 7px 20px;
  background: #108e96;
  color: #fff;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.contact .form-submit:hover {
  background: #0b6268;
}

.encyclop {
  padding: 65px 0 75px;
  background: #94c133;
}

.encyclop__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
}

.encyclop__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.encyclop__title {
  margin-bottom: 60px;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
  text-align: center;
}

.encyclop__list {
  list-style-type: none;
  text-align: center;
}

.encyclop__item {
  position: relative;
  margin: 0 10px 50px;
  display: inline-block;
  width: 43%;
  min-height: 215px;
  padding: 20px 0;
  vertical-align: top;
  text-align: center;
}

.encyclop__item:hover .encyclop__link,
.encyclop__item:hover .encyclop__text {
  background: #81b218;
}

.encyclop__link {
  display: block;
  color: #fff;
  text-decoration: none;
  position: absolute;
  bottom: 15%;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}

.encyclop__icon {
  display: block;
  margin: 0 auto;
}

.encyclop__icon--sunflower {
  background-image: url("../../../images/front/sprites.png");
  background-position: -380px 0px;
  width: 170px;
  height: 170px;
}

.encyclop__icon--potato {
  background-image: url("../../../images/front/sprites.png");
  background-position: -190px 0px;
  width: 190px;
  height: 170px;
}

.encyclop__icon--spinach {
  background-image: url("../../../images/front/sprites.png");
  background-position: 0px -335px;
  width: 205px;
  height: 130px;
}

.encyclop__icon--prune {
  background-image: url("../../../images/front/sprites.png");
  background-position: -180px -170px;
  width: 195px;
  height: 130px;
}

.encyclop__icon--melon {
  background-image: url("../../../images/front/sprites.png");
  background-position: 0px -170px;
  width: 180px;
  height: 165px;
}

.encyclop__icon--cheese {
  background-image: url("../../../images/front/sprites.png");
  background-position: -550px -125px;
  width: 145px;
  height: 140px;
}

.encyclop__icon--orange {
  background-image: url("../../../images/front/sprites.png");
  background-position: 0px 0px;
  width: 190px;
  height: 170px;
}

.encyclop__icon--fish {
  background-image: url("../../../images/front/sprites.png");
  background-position: -550px 0px;
  width: 165px;
  height: 125px;
}

.encyclop__icon--cabbage {
  background-image: url("../../../images/front/sprites.png");
  background-position: -380px -170px;
  width: 150px;
  height: 150px;
}

.encyclop__icon--beans {
  background-image: url("../../../images/front/sprites.png");
  background-position: -205px -335px;
  width: 190px;
  height: 125px;
}

.encyclop__text {
  display: block;
  position: relative;
  top: 18px;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 18px;
}

.footer {
  padding: 60px 0 150px;
  background: #5c5c5c;
}

.footer__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.footer__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.footer__panel {
  margin: 25px 15px;
  text-align: center;
}

.footer__panel--first {
  border-bottom: solid 1px #efbf03;
  padding-bottom: 25px;
}

.footer__text {
  color: #fff;
  font-family: "PTSansNarrow", "PTSans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.header {
  background: url("../../../images/front/header_lg.jpg") no-repeat center top;
  width: 100%;
  height: 654px;
}

.header__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 654px;
}

.header__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.header__brand {
  float: left;
  max-width: 30%;
  padding-top: 30px;
}

.header__logo {
  background: url("../../../images/front/logo.png") no-repeat center top;
  width: 357px;
  height: 227px;
}

.header__madein {
  margin-top: 21px;
  margin-left: 32px;
  overflow: hidden;
}

.header__flag {
  background-image: url("../../../images/front/sprites.png");
  background-position: -239px -300px;
  width: 29px;
  height: 19px;
  display: inline-block;
}

.header__country {
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle;
  color: #3e3e3e;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 12px;
}

.header__nav {
  float: right;
  width: 68%;
  clear: right;
  margin-top: 60px;
  list-style-type: none;
}

.header__item {
  display: table-cell;
  max-width: 100px;
  color: #3e3e3e;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 15px;
}

.header__item--last {
  text-align: center;
}

.header__navlink {
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  color: #3e3e3e;
  font-size: 15px;
  text-decoration: none;
}

.header__navlink:hover {
  color: #585858;
  text-decoration: underline;
}

.header__buy {
  position: relative;
  top: 105px;
  float: left;
  clear: left;
  margin-left: 35px;
  padding: 22px 70px;
  background: #108e96;
  color: #fff;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 23px;
  text-decoration: none;
  border-radius: 5px;
}

.header__buy:hover {
  background: #0e787f;
}

.header__hgroup {
  position: relative;
  top: 180px;
  max-width: 595px;
  margin: 0 auto;
  text-align: right;
}

.header__title {
  color: #108e96;
}

.header__small {
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 42px;
  font-style: italic;
}

.header__large {
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 83px;
  font-weight: bold;
  font-style: italic;
}

.header__slogan {
  margin-top: 42px;
  margin-right: 10px;
  font-family: "PTSansNarrow", "PTSans", Helvetica, Arial, sans-serif;
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.header__down {
  background-image: url("../../../images/front/sprites.png");
  background-position: -395px -335px;
  width: 67px;
  height: 67px;
  display: block;
  position: absolute;
  left: 47%;
  bottom: -34px;
  text-decoration: none;
}

.header__trigger {
  display: none;
}

.header__trigger:checked ~ .header__nav {
  display: block;
  position: absolute;
  z-index: 50;
  margin: 0;
  background: #313131;
  opacity: 0.9;
  padding: 100px 20px 20px 20px;
  max-width: 250px;
}

.header__trigger:checked ~ .header__nav .header__item {
  display: block;
  max-width: 250px;
  padding: 20px 0;
  border-bottom: solid 1px #108e96;
}

.header__trigger:checked ~ .header__nav .header__item--last {
  border: none;
}

.header__trigger:checked ~ .header__nav .header__navlink {
  color: #fff;
  text-decoration: none;
}

.header__toggle {
  background-image: url("../../../images/front/sprites.png");
  background-position: -208px -300px;
  width: 31px;
  height: 19px;
  position: absolute;
  z-index: 100;
  top: 60px;
  left: 40px;
  text-decoration: none;
  cursor: pointer;
}

.header__toggle:hover {
  opacity: 0.5;
}

.jqmWindow {
  display: none;
  left: 50%;
  top: 20%;
  position: fixed;
}

.jqmContentWrapper {
  background: #fff;
  position: relative;
  left: -50%;
}

.jqmContent {
  position: relative;
  z-index: 1;
}

.jqmClose {
  display: block;
  position: absolute;
  z-index: 100;
  top: 7px;
  right: 7px;
  background-image: url("../../../images/front/sprites.png");
  background-position: -180px -300px;
  width: 28px;
  height: 28px;
}

.jqmOverlay {
  background-color: #000;
}

#popup-messages .messages--status {
  background: none;
}

#popup-messages .messages {
  margin: 0;
  padding: 30px;
  border: none;
  color: #555454;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 21px;
  text-align: center;
  line-height: 1.5;
}

#popup-messages .messages a {
  margin-top: 10px;
  color: #04ade4;
  font-size: 16px;
}

#popup-messages .messages a:hover {
  color: #0387b2;
}

.map {
  padding-top: 45px;
}

.map__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.map__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.map__title {
  margin-bottom: 40px;
  color: #4c4c4c;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
  text-align: center;
}

.map__address {
  text-align: center;
}

.map__caption {
  color: #108e96;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 30px;
  font-style: italic;
}

.map__list {
  list-style-type: none;
}

.map__item {
  margin: 42px 0;
}

.map__wrapper {
  position: relative;
  min-height: 390px;
  margin-top: 10px;
}

.map__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.map__link {
  color: #5d5d5d;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 14px;
  font-style: italic;
}

.map__link:hover {
  color: #3e3e3e;
}

.map__popover {
  min-width: 150px;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
}

.modal {
  padding: 25px 0 15px;
  text-align: center;
}

.modal__title {
  margin-bottom: 40px;
  padding: 15px 0;
  background: #efbf03;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
}

.modal__text {
  padding: 0 40px;
  color: #4c4c4c;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 17px;
  line-height: 1.5;
}

.modal__text--func {
  margin-top: 20px;
}

.pros {
  min-height: 570px;
  padding-top: 80px;
  background: #94c133;
  box-shadow: inset 0 40px 80px -60px;
}

.pros__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
}

.pros__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.pros__title {
  margin-bottom: 60px;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
  text-align: center;
}

.pros__list {
  list-style-type: none;
  text-align: center;
}

.pros__item {
  display: inline-block;
  vertical-align: top;
  width: 24.5%;
}

.pros__circle {
  display: inline-block;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  line-height: 135px;
  border: solid 7px #fff;
  border-radius: 50%;
  text-align: center;
}

.pros__circle--blue {
  background: #108e96;
}

.pros__circle--gold {
  background: #efbf03;
}

.pros__icon {
  display: inline-block;
  vertical-align: middle;
}

.pros__icon--drop {
  background-image: url("../../../images/front/sprites.png");
  background-position: 0px -465px;
  width: 46px;
  height: 70px;
}

.pros__icon--pipet {
  background-image: url("../../../images/front/sprites.png");
  background-position: -640px -265px;
  width: 75px;
  height: 75px;
}

.pros__icon--slice {
  background-image: url("../../../images/front/sprites.png");
  background-position: -462px -335px;
  width: 66px;
  height: 66px;
}

.pros__icon--standard {
  background-image: url("../../../images/front/sprites.png");
  background-position: -550px -265px;
  width: 90px;
  height: 89px;
}

.pros__text {
  max-width: 230px;
  margin: 0 auto;
  color: #fff;
  font-family: "PTSansNarrow", "PTSans", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.35;
}

.pros__slogan {
  background: url("../../../images/front/slogan.png") no-repeat center top;
  position: absolute;
  left: 33%;
  width: 489px;
  height: 242px;
  padding: 55px 45px 0 135px;
  color: #5d5d5d;
  font: bold italic 21px/1.25 "PTSerif", "Times New Roman", serif;
  text-align: center;
}

.question {
  padding: 50px 30px 30px;
}

.question .form-submit {
  width: 190px;
  padding: 10px;
  background: #108e96;
  color: #fff;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.question .form-submit:hover {
  background: #0b6268;
}

.usage {
  padding: 145px 0 65px;
  background: #fff;
}

.usage__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.usage__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.usage__title {
  margin-bottom: 50px;
  color: #4c4c4c;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
  text-align: center;
}

.usage__list {
  list-style-type: none;
  text-align: center;
}

.usage__item {
  width: 19.5%;
  display: inline-block;
  vertical-align: top;
}

.usage__icon {
  display: inline-block;
  vertical-align: middle;
}

.usage__icon--baby {
  background-image: url("../../../images/front/sprites.png");
  background-position: -626px -354px;
  width: 59px;
  height: 59px;
}

.usage__icon--child {
  background-image: url("../../../images/front/sprites.png");
  background-position: -550px -354px;
  width: 76px;
  height: 61px;
}

.usage__age {
  padding: 25px 0 30px;
  background: #e9e9e9;
  color: #108e96;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 21px;
}

.usage__descr {
  margin-top: 9px;
  line-height: 1.5;
}

.usage__value {
  font-weight: bold;
  line-height: 1.5;
}

.usage__dose {
  padding: 22px 0;
  background: #efbf03;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 21px;
  font-weight: bold;
}

.usage__step {
  padding: 54px 12px 0;
  text-align: center;
}

.usage__number {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.usage__number:before, .usage__number:after {
  background: #108e96;
  content: '';
  display: inline-block;
  height: 1px;
  opacity: "1";
  position: relative;
  vertical-align: middle;
  width: 200%;
  z-index: -1;
}

.usage__number:before {
  right: 3px;
  margin: 0 0 0 -200%;
}

.usage__number:after {
  left: 3px;
  margin: 0 -200% 0 0;
}

.usage__digit {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 20px;
  border: solid 2px #108e96;
  color: #108e96;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 30px;
  border-radius: 50%;
}

.usage__guide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 125px;
  padding: 0 5px 25px;
  vertical-align: middle;
  border-bottom: solid 1px #108e96;
  color: #4c4c4c;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 16px;
}

.vitamins {
  padding-top: 45px;
  background: #fff;
}

.vitamins__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.vitamins__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.vitamins__title {
  color: #4c4c4c;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
  text-align: center;
}

.vitamins__table {
  max-width: 96%;
  height: 100%;
  margin: 45px auto 50px;
}

.vitamins__wrap--B {
  margin-bottom: 3px;
  overflow: hidden;
}

.vitamins__wrap--C {
  margin-bottom: 3px;
  vertical-align: top;
  overflow: hidden;
}

.vitamins__item {
  margin: 3px;
  padding: 8px 24px;
}

.vitamins__item--A {
  margin: 3px 0;
  background: #ec753f;
}

.vitamins__item--B1 {
  margin: 3px 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #ffd642;
}

.vitamins__item--B2 {
  float: right;
  margin-right: 0;
  margin: 3px 0;
  padding: 7px 0 7px 24px;
  background: #ffd642;
}

.vitamins__item--B3 {
  float: right;
  margin-right: 0;
  padding: 8px 24px;
  background: #ffd642;
}

.vitamins__item--B6 {
  margin: 3px 0 6px;
  background: #ffd642;
}

.vitamins__item--B12 {
  margin: 3px 0;
  background: #ffd642;
}

.vitamins__item--C {
  position: relative;
  margin-left: 0;
  padding: 7px 0 7px 24px;
  background: #cfe56b;
}

.vitamins__item--D3 {
  margin-top: 6px;
  margin-left: 0;
  background: #6dc8ff;
}

.vitamins__item--E {
  float: right;
  margin-right: 0;
  min-height: 115px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #e764a9;
  padding-right: 0;
}

.vitamins__item--B9 {
  margin: 3px 0 0;
  background: #d4b4db;
}

.vitamins__name {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-family: "PTSans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  min-width: 40px;
}

.vitamins__name--B12 {
  letter-spacing: -0.05em;
}

.vitamins__text {
  display: inline-block;
  vertical-align: middle;
  color: #1b1400;
  font-family: "PTSansCaption", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.vitamins__text--A {
  padding-left: 45px;
}

.vitamins__text--B1 {
  width: 80%;
  line-height: 1.4;
  padding-left: 30px;
}

.vitamins__text--B2 {
  padding-left: 15px;
  width: 85%;
}

.vitamins__text--B3 {
  padding-left: 15px;
  width: 80%;
}

.vitamins__text--B6 {
  padding-left: 30px;
}

.vitamins__text--B12 {
  padding-left: 16px;
}

.vitamins__text--C {
  max-width: 85%;
  padding-left: 40px;
}

.vitamins__text--D3 {
  width: 80%;
  padding-left: 25px;
}

.vitamins__text--E {
  padding-left: 15px;
  width: 85%;
}

.vitamins__text--B9 {
  padding-left: 50px;
  width: 50%;
}

.vitamins__download {
  display: block;
  max-width: 335px;
  padding: 20px;
  margin: 0 auto 48px;
  background: #efbf03;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.vitamins__download:hover {
  background: #bd9702;
}

.warn {
  padding: 15px 0 24px;
  background: #efbf03;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.warn__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.warn__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.warn__sign {
  margin: 0 auto 10px;
  width: 28px;
  height: 28px;
  border: solid 2px #fff;
  line-height: 24px;
  border-radius: 50%;
}

@media (max-width: 767px) {

  .contact {
    padding: 32px 0 38px;
  }

  .contact__title {
    max-width: 200px;
    float: none;
    margin: 0 auto 25px;
    padding-right: 0;
    text-align: center;
  }

  .contact__button {
    display: block;
    background: #108e96;
    max-width: 220px;
    margin: 0 auto;
    color: #fff;
    font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }

  .contact__button:hover {
    background: #0b6268;
  }

  .contact__form {
    display: none;
  }

  .pros__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .pros__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }

  .pros__item {
    width: 48.5%;
  }

  .pros__item--slice {
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 35px;
  }

  .pros__item--slice .pros__circle {
    background: #efbf03;
  }

  .pros__item--pipet {
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 35px;
  }

  .pros__item--pipet .pros__circle {
    background: #efbf03;
  }

  .pros__item--drop {
    -ms-flex-order: 3;
    order: 3;
  }

  .pros__item--drop .pros__circle {
    background: #108e96;
  }

  .pros__item--standard {
    -ms-flex-order: 4;
    order: 4;
  }

  .pros__item--standard .pros__circle {
    background: #108e96;
  }

  .pros__circle {
    margin-bottom: 8px;
    width: 90px;
    height: 90px;
    line-height: 75px;
  }

  .pros__icon--drop {
    background-image: url("../../../images/front/sprites.png");
    background-position: -685px -354px;
    width: 27px;
    height: 42px;
  }

  .pros__icon--pipet {
    background-image: url("../../../images/front/sprites.png");
    background-position: -550px -415px;
    width: 44px;
    height: 44px;
  }

  .pros__icon--slice {
    background-image: url("../../../images/front/sprites.png");
    background-position: -448px -402px;
    width: 38px;
    height: 39px;
  }

  .pros__icon--standard {
    background-image: url("../../../images/front/sprites.png");
    background-position: -395px -402px;
    width: 53px;
    height: 52px;
  }

  .pros__text {
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.2;
  }

  .pros__slogan {
    bottom: -60px;
    left: calc((100% - 278px) / 2);
  }

  .usage {
    padding: 65px 0 35px;
  }

  .usage__title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .usage__list {
    margin-bottom: 10px;
  }

  .usage__item--small {
    width: 32%;
  }

  .usage__item--small .usage__icon--baby {
    background-image: url("../../../images/front/sprites.png");
    background-position: -674px -415px;
    width: 26px;
    height: 25px;
  }

  .usage__item--small .usage__icon--child {
    background-image: url("../../../images/front/sprites.png");
    background-position: -642px -415px;
    width: 32px;
    height: 27px;
  }

  .usage__item--wide {
    width: 48.5%;
  }

  .usage__item--wide .usage__age {
    padding: 15px 0 20px;
  }

  .usage__item--wide .usage__dose {
    padding: 15px 0;
    font-size: 14px;
  }

  .usage__item--wide .usage__descr {
    margin-top: 10px;
    line-height: 1.5;
  }

  .usage__item--wide .usage__value {
    line-height: 1.5;
  }

  .usage__item--wide .usage__icon--child {
    background-image: url("../../../images/front/sprites.png");
    background-position: -594px -415px;
    width: 48px;
    height: 38px;
  }

  .usage__item--col {
    width: 48%;
    margin-right: -2px;
  }

  .usage__age {
    min-height: 80px;
    padding: 10px 0;
    font-size: 13px;
  }

  .usage__descr {
    margin-top: 4px;
    line-height: 1.1;
  }

  .usage__value {
    line-height: 1.1;
  }

  .usage__digit {
    padding: 8px 12px;
    font-size: 18px;
  }

  .usage__guide {
    font-size: 11px;
    height: 80px;
    padding: 0 5px 10px;
  }

  .warn {
    padding: 25px 0 35px;
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .contact__title {
    margin-left: 10%;
  }

  .contact__form {
    width: 60%;
  }

  .contact__small {
    font-size: 24px;
  }

  .contact__large {
    font-size: 40px;
  }

  .header__buy {
    padding: 15px 40px;
    position: absolute;
    bottom: 50px;
    top: auto;
    margin-left: 50px;
  }

  .pros {
    min-height: 520px;
  }

  .pros__text {
    font-size: 18px;
  }

  .usage__age {
    min-height: 167px;
    font-size: 14px;
  }

  .vitamins__item--B1 {
    min-height: 108px;
  }

  .vitamins__item--E {
    min-height: 108px;
  }

  .vitamins__name {
    font-size: 36px;
  }

  .vitamins__text {
    font-size: 15px;
  }
}

@media (max-width: 639px) {

  .contact__small {
    display: inline-block;
    font-size: 18px;
  }

  .contact__large {
    display: inline-block;
    font-size: 18px;
  }

  .encyclop {
    padding: 35px 0 25px;
  }

  .encyclop__title {
    font-size: 18px;
    margin: 0 20px 30px;
  }

  .encyclop__item {
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    margin: 0;
    min-height: 135px;
  }

  .encyclop__text {
    font-size: 20px;
  }

  .header {
    background: #d7d7d7 url("../../../images/front/header_sm.jpg") no-repeat center top;
    height: 517px;
  }

  .header__brand {
    padding-top: 10px;
    max-width: 200px;
  }

  .header__logo {
    background: url("../../../images/front/logo_sm.png") no-repeat center top;
    width: 266px;
    height: 184px;
    position: relative;
    left: -20px;
  }

  .header__item--last {
    text-align: left;
  }

  .header__slogan {
    position: absolute;
    top: auto;
    bottom: 230px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 12px 0;
    background: #efbf03;
    text-align: center;
    font-size: 18px;
  }

  .header__toggle {
    top: 50px;
    left: 20px;
  }

  .map {
    padding-top: 25px;
  }

  .map__title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .map__caption {
    display: none;
  }

  .map__item {
    margin: 7px 0;
  }

  .vitamins__title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .vitamins__wrap--B {
    margin-bottom: 0;
  }

  .vitamins__wrap--CD {
    float: none;
    width: 100%;
    clear: both;
  }

  .vitamins__item--A {
    margin-bottom: 0;
  }

  .vitamins__item--B1 {
    float: none;
    width: 100%;
    clear: both;
  }

  .vitamins__item--B2 {
    float: none;
    width: 100%;
    clear: both;
  }

  .vitamins__item--B3 {
    float: none;
    width: 100%;
    clear: both;
    margin: 3px 0 0;
  }

  .vitamins__item--B6 {
    margin-bottom: 0;
  }

  .vitamins__item--C {
    margin: 0 0 3px;
  }

  .vitamins__item--D3 {
    margin: 3px 0 0;
  }

  .vitamins__item--E {
    float: none;
    width: 100%;
    clear: both;
    min-height: auto;
    margin: 3px 0 0;
  }

  .vitamins__name--B9 {
    width: 100%;
    display: block;
    margin: 0 auto 5px;
    text-align: center;
  }

  .vitamins__text {
    padding-left: 10px !important;
    max-width: 75% !important;
  }

  .vitamins__text--B9 {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
  }

  .vitamins__download {
    max-width: 250px;
    padding: 10px;
    font-size: 16px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {

  .contact__small {
    display: inline-block;
    line-height: 1;
    font-size: 24px;
  }

  .contact__large {
    display: inline-block;
    line-height: 1;
    font-size: 24px;
  }

  .encyclop__title {
    font-size: 24px;
  }

  .header__buy {
    padding: 12px 35px;
    position: absolute;
    bottom: 50px;
    top: auto;
    left: 40%;
    margin: 0;
    font-size: 18px;
  }

  .map__title {
    font-size: 24px;
  }

  .map__caption {
    font-size: 24px;
  }

  .vitamins__title {
    font-size: 24px;
  }

  .vitamins__item--B1 {
    min-height: 100px;
  }

  .vitamins__item--E {
    min-height: 100px;
  }

  .vitamins__name {
    font-size: 32px;
  }

  .vitamins__text {
    font-size: 13px;
  }

  .vitamins__text--C {
    position: absolute;
    top: 10px;
    right: 0;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {

  .encyclop__item {
    width: 30%;
    margin-bottom: 30px;
  }

  .header__hgroup {
    top: 280px;
  }

  .header__small {
    font-size: 24px;
  }

  .header__large {
    font-size: 48px;
  }

  .header__slogan {
    position: relative;
    left: -200px;
    top: 5px;
  }
}

@media (min-width: 1024px) and (max-width: 1179px) {

  .encyclop__item {
    width: 22%;
  }

  .header__buy {
    position: absolute;
    bottom: 50px;
    top: auto;
  }

  .header__hgroup {
    top: 200px;
  }

  .header__small {
    font-size: 32px;
  }

  .header__large {
    font-size: 54px;
  }

  .header__slogan {
    position: relative;
    left: -200px;
    top: 65px;
  }

  .usage__age {
    min-height: 173px;
    font-size: 16px;
  }

  .vitamins__item--B1 {
    min-height: 132px;
  }

  .vitamins__item--E {
    min-height: 132px;
  }

  .vitamins__name {
    font-size: 48px;
  }

  .vitamins__text {
    font-size: 20px;
  }

  .vitamins__text--A {
    padding-left: 60px;
  }
}

@media (min-width: 1180px) {

  .encyclop__item {
    width: 18%;
  }

  .header__nav {
    display: table;
  }

  .header__toggle {
    display: none;
  }

  .vitamins__text--A {
    padding-left: 75px;
  }
}

@media (max-width: 640px) {

  .footer {
    padding: 10px 0 30px;
  }

  .header__navlink {
    font-size: 13px;
  }
}

@media (min-width: 640px) {

  .footer__panel--first {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .footer__panel {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
    padding-left: 10px;
    border-left: solid 2px #efbf03;
    text-align: left;
  }

  .footer__text {
    font-size: 18px;
    line-height: 1.7;
  }

  .header__country {
    font-size: 15px;
  }
}

@media (min-width: 640px) and (max-width: 1179px) {

  .header {
    background: url("../../../images/front/header_md.jpg") no-repeat center top;
  }

  .header__title {
    padding-right: 200px;
  }
}

@media (max-width: 479px) {

  .header__madein {
    margin-right: 70px;
  }

  .header__country {
    font-size: 11px;
  }

  .header__buy {
    padding: 12px 35px;
    position: absolute;
    bottom: 165px;
    top: auto;
    left: 28%;
    margin: 0;
    font-size: 16px;
  }

  .header__hgroup {
    padding: 0;
    position: static;
    clear: both;
    margin: 0;
    max-width: 150px;
  }

  .header__title {
    max-width: 150px;
    position: relative;
    height: 65px;
    top: 20px;
    left: 10px;
    text-align: right;
  }

  .header__small {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    right: 20px;
  }

  .header__large {
    position: absolute;
    top: 5;
    right: 15px;
    font-size: 32px;
  }

  .pros {
    padding-top: 30px;
    min-height: 500px;
  }

  .usage__dose {
    font-size: 11px;
    padding: 7px 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .usage__step {
    padding: 20px 0 0;
  }
}

@media (min-width: 480px) and (max-width: 639px) {

  .header__madein {
    float: right;
  }

  .header__buy {
    padding: 12px 35px;
    position: absolute;
    bottom: 165px;
    top: auto;
    left: 35%;
    margin: 0;
    font-size: 16px;
  }

  .header__hgroup {
    padding: 0;
    position: static;
    clear: both;
    margin: 0;
    max-width: 200px;
    padding-left: 50px;
  }

  .header__small {
    font-size: 16px;
  }

  .header__large {
    font-size: 32px;
  }

  .vitamins__name {
    margin-left: 5%;
  }
}

@media (max-width: 1023px) {

  .header__madein {
    max-width: 150px;
    text-align: right;
    line-height: 1.2;
    margin-left: 0;
  }

  .header__flag {
    float: right;
  }

  .header__country {
    float: right;
    clear: both;
  }

  .header__down {
    display: none;
  }

  .jqmWindow.vitpopup {
    top: 5%;
    left: 5%;
    right: 5%;
  }

  .vitpopup .jqmContentWrapper {
    left: initial;
  }

  .modal__text {
    font-size: 13px;
  }

  .pros__slogan {
    background: url("../../../images/front/slogan_sm.png") no-repeat center top;
    width: 278px;
    height: 138px;
    padding: 25px 15px 10px 65px;
    font-size: 14px;
  }
}

@media (max-width: 1179px) {

  .header__nav {
    display: none;
  }
}

@media (min-width: 1024px) {

  .map__address {
    float: left;
    max-width: 30%;
    padding-top: 45px;
    padding-left: 80px;
    text-align: left;
  }

  .map__wrapper {
    float: right;
    width: 69%;
  }

  .map__link {
    font-size: 18px;
  }

  .modal {
    max-width: 720px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {

  .pros {
    padding-top: 30px;
    min-height: 480px;
  }

  .usage__dose {
    font-size: 16px;
    padding: 10px 5px;
  }

  .usage__step {
    padding: 20px 20px 0;
  }
}

@media (min-width: 768px) and (max-width: 1179px) {

  .usage__dose {
    font-size: 16px;
    padding: 15px 5px;
  }

  .usage__guide {
    font-size: 13px;
    padding: 0 5px 10px;
  }

  .vitamins__text--C {
    padding-left: 55px;
  }
}

@media (min-width: 1180px) and (max-width: 1279px) {

  .vitamins__item--B1 {
    min-height: 145px;
  }

  .vitamins__item--E {
    min-height: 145px;
  }

  .vitamins__name {
    font-size: 54px;
  }

  .vitamins__text {
    font-size: 24px;
  }

  .vitamins__text--C {
    padding-left: 70px;
  }
}

@media (min-width: 1280px) {

  .vitamins__item--B1 {
    min-height: 165px;
  }

  .vitamins__item--E {
    min-height: 165px;
  }

  .vitamins__name {
    font-size: 64px;
  }

  .vitamins__text {
    font-size: 28px;
  }

  .vitamins__text--B12 {
    padding-left: 12px;
  }
}

@media (min-width: 768px) {

  .vitamins__text--B1 {
    padding-left: 40px;
  }

  .vitamins__text--B6 {
    padding-left: 40px;
  }

  .vitamins__text--D3 {
    width: 85%;
    padding-left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {

  .vitamins__text--B12 {
    padding-left: 24px;
  }
}
