html {
  font-size: 100%;
  line-height: 1.5em;
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-Regular.eot");
  src: url("../../../fonts/PTSans/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-Regular.woff") format("woff"), url("../../../fonts/PTSans/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-Bold.eot");
  src: url("../../../fonts/PTSans/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-Bold.woff") format("woff"), url("../../../fonts/PTSans/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-Italic.eot");
  src: url("../../../fonts/PTSans/PTSans-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-Italic.woff") format("woff"), url("../../../fonts/PTSans/PTSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: url("../../../fonts/PTSans/PTSans-BoldItalic.eot");
  src: url("../../../fonts/PTSans/PTSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans/PTSans-BoldItalic.woff") format("woff"), url("../../../fonts/PTSans/PTSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PTSansCaption";
  src: url("../../../fonts/PTSans-Caption/PTSans-Caption.eot");
  src: url("../../../fonts/PTSans-Caption/PTSans-Caption.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Caption/PTSans-Caption.woff") format("woff"), url("../../../fonts/PTSans-Caption/PTSans-Caption.ttf") format("truetype");
}

@font-face {
  font-family: "PTSansCaption";
  src: url("../../../fonts/PTSans-Caption/PTSans-CaptionBold.eot");
  src: url("../../../fonts/PTSans-Caption/PTSans-CaptionBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Caption/PTSans-CaptionBold.woff") format("woff"), url("../../../fonts/PTSans-Caption/PTSans-CaptionBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSansNarrow";
  src: url("../../../fonts/PTSans-Narrow/PTSans-Narrow.eot");
  src: url("../../../fonts/PTSans-Narrow/PTSans-Narrow.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Narrow/PTSans-Narrow.woff") format("woff"), url("../../../fonts/PTSans-Narrow/PTSans-Narrow.ttf") format("truetype");
}

@font-face {
  font-family: "PTSansNarrow";
  src: url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.eot");
  src: url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.woff") format("woff"), url("../../../fonts/PTSans-Narrow/PTSans-NarrowBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-Regular.eot");
  src: url("../../../fonts/PTSerif/PTSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-Regular.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-Bold.eot");
  src: url("../../../fonts/PTSerif/PTSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-Bold.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-Italic.eot");
  src: url("../../../fonts/PTSerif/PTSerif-Italic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-Italic.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PTSerif";
  src: url("../../../fonts/PTSerif/PTSerif-BoldItalic.eot");
  src: url("../../../fonts/PTSerif/PTSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif/PTSerif-BoldItalic.woff") format("woff"), url("../../../fonts/PTSerif/PTSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PTSerifCaption";
  src: url("../../../fonts/PTSerif-Caption/PTSerif-Caption.eot");
  src: url("../../../fonts/PTSerif-Caption/PTSerif-Caption.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif-Caption/PTSerif-Caption.woff") format("woff"), url("../../../fonts/PTSerif-Caption/PTSerif-Caption.ttf") format("truetype");
}

@font-face {
  font-family: "PTSerifCaption";
  src: url("../../../fonts/PTSerif-Caption/PTSerif-CaptionItalic.eot");
  src: url("../../../fonts/PTSerif-Caption/PTSerif-CaptionItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PTSerif-Caption/PTSerif-CaptionItalic.woff") format("woff"), url("../../../fonts/PTSerif-Caption/PTSerif-CaptionItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.encyclop {
  padding: 65px 0 95px;
  background: #94c133;
}

.encyclop__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
}

.encyclop__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.encyclop__title {
  margin-bottom: 60px;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
  text-align: center;
}

.encyclop__list {
  list-style-type: none;
}

.encyclop__item {
  position: relative;
  margin: 0 10px 50px;
  display: inline-block;
  width: 18%;
  min-height: 215px;
  padding: 20px 0;
  vertical-align: top;
  text-align: center;
}

.encyclop__item:hover {
  background: #81b218;
}

.encyclop__link {
  display: block;
  color: #fff;
  text-decoration: none;
  position: absolute;
  bottom: 15%;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}

.encyclop__icon {
  display: block;
  margin: 0 auto;
}

.encyclop__icon--sunflower {
  background-image: url("../../../images/front/sprites.png");
  background-position: 0px -156px;
  width: 153px;
  height: 151px;
}

.encyclop__icon--potato {
  background-image: url("../../../images/front/sprites.png");
  background-position: -179px 0px;
  width: 175px;
  height: 149px;
}

.encyclop__icon--spinach {
  background-image: url("../../../images/front/sprites.png");
  background-position: -153px -156px;
  width: 191px;
  height: 120px;
}

.encyclop__icon--prune {
  background-image: url("../../../images/front/sprites.png");
  background-position: 0px -307px;
  width: 179px;
  height: 112px;
}

.encyclop__icon--melon {
  background-image: url("../../../images/front/sprites.png");
  background-position: -354px 0px;
  width: 160px;
  height: 141px;
}

.encyclop__icon--cheese {
  background-image: url("../../../images/front/sprites.png");
  background-position: -514px -106px;
  width: 122px;
  height: 119px;
}

.encyclop__icon--orange {
  background-image: url("../../../images/front/sprites.png");
  background-position: 0px 0px;
  width: 179px;
  height: 156px;
}

.encyclop__icon--fish {
  background-image: url("../../../images/front/sprites.png");
  background-position: -514px 0px;
  width: 153px;
  height: 106px;
}

.encyclop__icon--cabbage {
  background-image: url("../../../images/front/sprites.png");
  background-position: -354px -141px;
  width: 135px;
  height: 133px;
}

.encyclop__icon--beans {
  background-image: url("../../../images/front/sprites.png");
  background-position: -179px -307px;
  width: 174px;
  height: 105px;
}

.encyclop__text {
  position: relative;
  top: 18px;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 18px;
}

.header {
  background: url("../../../images/front/header.jpg") no-repeat center top;
  width: 100%;
  height: 654px;
}

.header__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 654px;
}

.header__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.header__brand {
  float: left;
  max-width: 30%;
  padding-top: 30px;
}

.header__logo {
  background: url("../../../images/front/logo.png") no-repeat center top;
  width: 357px;
  height: 227px;
}

.header__madein {
  margin-top: 21px;
  margin-left: 32px;
}

.header__flag {
  background-image: url("../../../images/front/sprites.png");
  background-position: -636px -134px;
  width: 29px;
  height: 19px;
  display: inline-block;
}

.header__country {
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle;
  color: #3e3e3e;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 15px;
}

.header__nav {
  float: right;
  width: 68%;
  display: table;
  clear: right;
  margin-top: 60px;
  list-style-type: none;
}

.header__item {
  display: table-cell;
  max-width: 100px;
  color: #3e3e3e;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 15px;
}

.header__item--last {
  text-align: center;
}

.header__navlink {
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  color: #3e3e3e;
  font-size: 15px;
  text-decoration: none;
}

.header__navlink:hover {
  color: #585858;
  text-decoration: underline;
}

.header__buy {
  position: relative;
  top: 105px;
  float: left;
  clear: left;
  margin-left: 35px;
  padding: 22px 70px;
  background: #108e96;
  color: #fff;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 23px;
  text-decoration: none;
  border-radius: 5px;
}

.header__buy:hover {
  background: #0e787f;
}

.header__hgroup {
  position: relative;
  top: 180px;
  max-width: 555px;
  margin: 0 auto;
  text-align: right;
}

.header__title {
  color: #108e96;
}

.header__small {
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 42px;
  font-style: italic;
}

.header__large {
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 83px;
  font-weight: bold;
  font-style: italic;
}

.header__slogan {
  margin-top: 42px;
  margin-right: 10px;
  font-family: "PTSansNarrow", "PTSans", Helvetica, Arial, sans-serif;
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.header__down {
  background-image: url("../../../images/front/sprites.png");
  background-position: -353px -307px;
  width: 67px;
  height: 67px;
  display: block;
  position: absolute;
  left: 47%;
  bottom: -34px;
  text-decoration: none;
}

.jqmWindow {
  display: none;
  left: 50%;
  top: 20%;
  position: fixed;
}

.jqmContentWrapper {
  background: #fff;
  position: relative;
  left: -50%;
}

.jqmContent {
  position: relative;
  z-index: 1;
}

.jqmClose {
  display: block;
  position: absolute;
  z-index: 100;
  top: 7px;
  right: 7px;
  background-image: url("../../../images/front/sprites.png");
  background-position: -636px -106px;
  width: 28px;
  height: 28px;
}

.jqmOverlay {
  background-color: #000;
}

#popup-messages .messages--status {
  background: none;
}

#popup-messages .messages {
  margin: 0;
  padding: 30px;
  border: none;
  color: #555454;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 21px;
  text-align: center;
  line-height: 1.5;
}

#popup-messages .messages a {
  margin-top: 10px;
  color: #04ade4;
  font-size: 16px;
}

#popup-messages .messages a:hover {
  color: #0387b2;
}

.modal {
  max-width: 720px;
  padding: 30px 0;
  text-align: center;
}

.modal__title {
  margin-bottom: 40px;
  padding: 15px 0;
  background: #efbf03;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
}

.modal__text {
  padding: 0 40px;
  color: #4c4c4c;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 17px;
  line-height: 1.5;
}

.modal__text--func {
  margin-top: 20px;
}

.pros {
  height: 570px;
  padding-top: 80px;
  background: #94c133;
}

.pros__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
}

.pros__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.pros__title {
  margin-bottom: 60px;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
  text-align: center;
}

.pros__list {
  list-style-type: none;
  text-align: center;
}

.pros__item {
  display: inline-block;
  vertical-align: top;
  width: 24.5%;
}

.pros__circle {
  display: inline-block;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  line-height: 135px;
  border: solid 7px #fff;
  border-radius: 50%;
  text-align: center;
}

.pros__circle--blue {
  background: #108e96;
}

.pros__circle--gold {
  background: #efbf03;
}

.pros__icon {
  display: inline-block;
  vertical-align: middle;
}

.pros__icon--drop {
  background-image: url("../../../images/front/sprites.png");
  background-position: 0px -419px;
  width: 46px;
  height: 70px;
}

.pros__icon--pipet {
  background-image: url("../../../images/front/sprites.png");
  background-position: -514px -314px;
  width: 75px;
  height: 75px;
}

.pros__icon--slice {
  background-image: url("../../../images/front/sprites.png");
  background-position: -420px -307px;
  width: 66px;
  height: 66px;
}

.pros__icon--standard {
  background-image: url("../../../images/front/sprites.png");
  background-position: -514px -225px;
  width: 90px;
  height: 89px;
}

.pros__text {
  max-width: 230px;
  margin: 0 auto;
  color: #fff;
  font-family: "PTSansNarrow", "PTSans", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.35;
}

.pros__slogan {
  background: url("../../../images/front/slogan.png") no-repeat center top;
  position: absolute;
  bottom: -121px;
  left: 33%;
  width: 489px;
  height: 242px;
  padding: 55px 45px 0 135px;
  color: #5d5d5d;
  font: bold italic 21px/1.25 "PTSerif", "Times New Roman", serif;
  text-align: center;
}

.usage {
  padding: 145px 0 65px;
  background: #fff;
}

.usage__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.usage__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.usage__title {
  margin-bottom: 50px;
  color: #4c4c4c;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
  text-align: center;
}

.usage__list {
  list-style-type: none;
  text-align: center;
}

.usage__item {
  width: 19.5%;
  display: inline-block;
  vertical-align: top;
}

.usage__icon {
  display: inline-block;
  vertical-align: middle;
}

.usage__icon--baby {
  background-image: url("../../../images/front/sprites.png");
  background-position: -604px -225px;
  width: 59px;
  height: 59px;
}

.usage__icon--child {
  background-image: url("../../../images/front/sprites.png");
  background-position: -589px -314px;
  width: 76px;
  height: 61px;
}

.usage__age {
  padding: 25px 0 30px;
  background: #e9e9e9;
  color: #108e96;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 21px;
}

.usage__descr {
  margin-top: 9px;
  line-height: 1.5;
}

.usage__value {
  font-weight: bold;
  line-height: 1.5;
}

.usage__dose {
  padding: 22px 0;
  background: #efbf03;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 21px;
  font-weight: bold;
}

.usage__step {
  padding: 54px 12px 0;
  text-align: center;
}

.usage__number {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.usage__number:before, .usage__number:after {
  background: #108e96;
  content: '';
  display: inline-block;
  height: 1px;
  opacity: "1";
  position: relative;
  vertical-align: middle;
  width: 200%;
  z-index: -1;
}

.usage__number:before {
  right: 3px;
  margin: 0 0 0 -200%;
}

.usage__number:after {
  left: 3px;
  margin: 0 -200% 0 0;
}

.usage__digit {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 20px;
  border: solid 2px #108e96;
  color: #108e96;
  font-family: "PTSerifCaption", "PTSerif", "Times New Roman", serif;
  font-size: 30px;
  border-radius: 50%;
}

.usage__guide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 125px;
  padding: 0 5px 25px;
  vertical-align: middle;
  border-bottom: solid 1px #108e96;
  color: #4c4c4c;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 16px;
}

.vitamins {
  padding-top: 45px;
  background: #fff;
}

.vitamins__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.vitamins__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.vitamins__title {
  color: #4c4c4c;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 36px;
  text-align: center;
}

.vitamins__table {
  max-width: 96%;
  margin: 45px auto 50px;
}

.vitamins__wrap--B {
  width: 53%;
  display: inline-block;
  margin-right: 0;
}

.vitamins__wrap--C {
  width: 60.5%;
  display: inline-block;
  vertical-align: top;
}

.vitamins__item {
  margin: 3px;
  padding: 8px 24px;
}

.vitamins__item--A {
  background: #ec753f;
}

.vitamins__item--B1 {
  width: 46%;
  display: inline-block;
  vertical-align: top;
  padding: 16px 0 16px 24px;
  background: #ffd642;
}

.vitamins__item--B2 {
  margin-bottom: 6px;
  padding: 7px 0 7px 24px;
  background: #ffd642;
}

.vitamins__item--B3 {
  padding: 8px 24px;
  background: #ffd642;
}

.vitamins__item--B6 {
  clear: both;
  background: #ffd642;
}

.vitamins__item--B12 {
  margin-top: 6px;
  background: #ffd642;
}

.vitamins__item--C {
  padding: 7px 0 7px 24px;
  background: #cfe56b;
}

.vitamins__item--D3 {
  margin-top: 6px;
  background: #6dc8ff;
}

.vitamins__item--E {
  width: 38.5%;
  display: inline-block;
  vertical-align: top;
  margin-right: 0;
  padding: 33px 24px 34px;
  background: #e764a9;
}

.vitamins__item--B9 {
  background: #d4b4db;
}

.vitamins__name {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-family: "PTSans", Helvetica, Arial, sans-serif;
  font-size: 64px;
  font-weight: bold;
}

.vitamins__name--B12 {
  letter-spacing: -0.05em;
}

.vitamins__text {
  display: inline-block;
  vertical-align: middle;
  color: #1b1400;
  font-family: "PTSansCaption", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.vitamins__text--A {
  padding-left: 75px;
}

.vitamins__text--B1 {
  padding-left: 40px;
  width: 80%;
  line-height: 1.4;
}

.vitamins__text--B2 {
  padding-left: 15px;
  width: 85%;
}

.vitamins__text--B3 {
  padding-left: 15px;
  width: 85%;
}

.vitamins__text--B6 {
  padding-left: 40px;
}

.vitamins__text--B12 {
  padding-left: 12px;
}

.vitamins__text--C {
  padding-left: 70px;
  width: 94%;
}

.vitamins__text--D3 {
  padding-left: 40px;
  width: 85%;
}

.vitamins__text--E {
  padding-left: 15px;
  width: 85%;
}

.vitamins__text--B9 {
  padding-left: 50px;
  width: 50%;
}

.vitamins__download {
  display: block;
  max-width: 335px;
  padding: 20px;
  margin: 0 auto 48px;
  background: #efbf03;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.vitamins__download:hover {
  background: #bd9702;
}

.warn {
  padding: 15px 0 24px;
  background: #efbf03;
  color: #fff;
  font-family: "PTSerif", "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.warn__inner {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.warn__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.warn__sign {
  margin: 0 auto 10px;
  width: 28px;
  height: 28px;
  border: solid 2px #fff;
  line-height: 24px;
  border-radius: 50%;
}
