.header {
  background: url('../../../images/front/header.jpg') no-repeat center top;
  width: 100%;
  height: 654px;

  &__container {
    @include container;
    position: relative;
    height: 100%;
  }

  &__brand {
    float: left;
    padding-top: 30px;
  }

  &__logo {
    background: url('../../../images/front/logo.png') no-repeat center top;
    width: 357px;
    height: 227px;
  }

  &__madein {
    margin-top: 21px;
    margin-left: 32px;
  }

  &__flag {
    @include sprite($s-madein);
    display: inline-block;
  }

  &__country {
    margin-left: 7px;
    display: inline-block;
    vertical-align: middle;
    color: $gray;
    font-family: $ptserif-caption;
    font-size: 15px;
  }

  &__nav {
    float: right;
    width: 68%;
    display: table;
    clear: right;
    margin-top: 60px;
    list-style-type: none;
  }

  &__item {
    display: table-cell;
    max-width: 100px;
    color: $gray;
    font-family: $ptserif-caption;
    font-size: 15px;
    &--last {
      text-align: center;
    }
  }

  &__navlink {
    font-family: $ptserif-caption;
    color: $gray;
    font-size: 15px;
    text-decoration: none;
    &:hover {
      color: lighten($gray, 10%);
      text-decoration: underline;
    }
  }

  &__buy {
    display: block;
    float: left;
    clear: left;
    margin-left: 35px;
    margin-top: 105px;
    padding: 22px 70px;
    background: $blue;
    color: #fff;
    font-family: $ptserif-caption;
    font-size: 23px;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
      background: darken($blue, 5%);
    }
  }

  &__hgroup {
    position: relative;
    top: -40px;
    float: right;
    margin-right: 360px;
    max-width: 555px;
    text-align: right;
  }

  &__title {
    color: $blue;
  }

  &__small {
    font-family: $ptserif-caption;
    font-size: 42px;
    font-style: italic;
  }

  &__large {
    font-family: $ptserif;
    font-size: 83px;
    font-weight: bold;
    font-style: italic;
  }

  &__slogan {
    margin-top: 42px;
    margin-right: 10px;
    font-family: $ptsans-narrow;
    font-size: 23px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }

  &__down {
    @include sprite($s-down);
    display: block;
    position: absolute;
    left: 47%;
    bottom: -34px;
    text-decoration: none;
  }
}
