.map {
  padding-top: 45px;

  &__inner {
    @include container;
  }

  &__title {
    margin-bottom: 40px;
    color: $gray-mid;
    font-family: $ptserif;
    font-size: 36px;
    text-align: center;
  }

  &__address {
    float: left;
    max-width: 30%;
    padding-top: 45px;
    padding-left: 80px;
  }

  &__caption {
    color: $blue;
    font-family: $ptserif-caption;
    font-size: 30px;
    font-style: italic;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    margin: 42px 0;
  }

  &__wrapper {
    float: right;
    width: 69%;
    min-height: 390px;
    margin-top: 10px;
    position: relative;
  }

  &__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  &__link {
    color: $gray-light;
    font-family: $ptserif-caption;
    font-size: 18px;
    font-style: italic;

    &:hover {
      color: $gray;
    }
  }

  &__popover {
    min-width: 150px;
    min-height: 30px;
    line-height: 30px;
    text-align: center;
  }
}
