.map {
  height: 518px;
  padding-top: 45px;

  &__inner {
    @include container;
  }

  &__title {
    margin-bottom: 40px;
    color: $gray-mid;
    font-family: $ptserif;
    font-size: 36px;
    text-align: center;
  }

  &__address {
    float: left;
    max-width: 30%;
    padding-top: 45px;
    padding-left: 80px;
  }

  &__caption {
    color: $blue;
    font-family: $ptserif-caption;
    font-size: 30px;
    font-style: italic;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    margin: 42px 0;
  }

  &__link {
    color: $gray-light;
    font-family: $ptserif-caption;
    font-size: 18px;
    font-style: italic;

    &:hover {
      color: $gray;
    }
  }
}
