.usage {
  padding: 145px 0 65px;
  background: #fff;

  @include breakpoint(max-width $tb - 1) {
    padding: 65px 0 35px;
  }

  &__inner {
    @include container;
    height: 100%;
  }

  &__title {
    margin-bottom: 50px;
    color: $gray-mid;
    font-family: $ptserif;
    font-size: 36px;
    text-align: center;

    @include breakpoint(max-width $tb - 1) {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  &__list {
    list-style-type: none;
    text-align: center;

    @include breakpoint(max-width $tb - 1) {
      margin-bottom: 10px;
    }
  }

  &__item {
    width: 19.5%;
    display: inline-block;
    vertical-align: top;

    &--small {
      @include breakpoint(max-width $tb - 1) {
        width: 33%;
        margin-right: -2px;
      }
      .usage__icon {
        &--baby {
          @include breakpoint(max-width $tb - 1) {
            @include sprite($s-baby_sm);
          }
        }
        &--child {
          @include breakpoint(max-width $tb - 1) {
            @include sprite($s-child_sm);
          }
        }
      }
    }
    &--wide {
      @include breakpoint(max-width $tb - 1) {
        width: 48.5%;
      }
      .usage__age {
        @include breakpoint(max-width $tb - 1) {
          padding: 15px 0 20px;
        }
      }
      .usage__dose {
        @include breakpoint(max-width $tb - 1) {
          padding: 15px 0;
          font-size: 14px;
        }
      }
      .usage__descr {
        @include breakpoint(max-width $tb - 1) {
          margin-top: 10px;
          line-height: 1.5;
        }
      }
      .usage__value {
        @include breakpoint(max-width $tb - 1) {
          line-height: 1.5;
        }
      }
      .usage__icon {
        &--child {
          @include breakpoint(max-width $tb - 1) {
            @include sprite($s-child_md);
          }
        }
      }
    }
    &--col {
      @include breakpoint(max-width $tb - 1) {
        width: 48%;
        margin-right: -2px;
      }
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;

    &--baby {
      @include sprite($s-baby);
    }
    &--child {
      @include sprite($s-child);
    }
  }

  &__age {
    padding: 25px 0 30px;
    background: $whitish;
    color: $blue;
    font-family: $ptserif-caption;
    font-size: 21px;

    @include breakpoint(max-width $tb - 1) {
      min-height: 80px;
      padding: 10px 0;
      font-size: 13px;
    }
    @include breakpoint($tb $md - 1) {
      min-height: 167px;
      font-size: 14px;
    }
    @include breakpoint($md $lg - 1) {
      min-height: 173px;
      font-size: 16px;
    }
  }

  &__descr {
    margin-top: 9px;
    line-height: 1.5;

    @include breakpoint(max-width $tb - 1) {
      margin-top: 4px;
      line-height: 1.1;
    }
  }

  &__value {
    font-weight: bold;
    line-height: 1.5;

    @include breakpoint(max-width $tb - 1) {
      line-height: 1.1;
    }
  }

  &__dose {
    padding: 22px 0;
    background: $gold;
    color: #fff;
    font-family: $ptserif;
    font-size: 21px;
    font-weight: bold;

    @include breakpoint(max-width $xs - 1) {
      font-size: 12px;
      padding: 7px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include breakpoint($xs $tb - 1) {
      font-size: 16px;
      padding: 10px 5px;
    }
    @include breakpoint($tb $lg - 1) {
      font-size: 16px;
      padding: 15px 5px;
    }
  }

  &__step {
    padding: 54px 12px 0;
    text-align: center;

    @include breakpoint(max-width $xs - 1) {
      padding: 20px 0 0;
    }
    @include breakpoint($xs $tb - 1) {
      padding: 20px 20px 0;
    }
  }

  &__number {
    @include line(3px, $blue);
  }

  &__digit {
    display: inline-block;
    vertical-align: middle;
    padding: 13px 20px;
    border: solid 2px $blue;
    color: $blue;
    font-family: $ptserif-caption;
    font-size: 30px;
    border-radius: 50%;

    @include breakpoint(max-width $tb - 1) {
      padding: 8px 12px;
      font-size: 18px;
    }
  }

  &__guide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 125px;
    padding: 0 5px 25px;
    vertical-align: middle;
    border-bottom: solid 1px $blue;
    color: $gray-mid;
    font-family: $ptserif;
    font-size: 16px;

    @include breakpoint(max-width $tb - 1) {
      font-size: 11px;
      height: 80px;
      padding: 0 5px 10px;
    }
    @include breakpoint($tb $lg - 1) {
      font-size: 13px;
      padding: 0 5px 10px;
    }
  }
}
