.vitamins {
  padding-top: 45px;
  background: #fff;

  &__inner {
    @include container;
    height: 100%;
  }

  &__title {
    color: $gray-mid;
    font-family: $ptserif;
    font-size: 36px;
    text-align: center;
  }

  &__table {
    max-width: 96%;
    height: 100%;
    margin: 45px auto 50px;
  }

  &__wrap {
    &--B {
      @extend %col-16;
      margin-bottom: 3px;
      overflow: hidden;
    }
    &--C {
      @extend %col-16;
      margin-bottom: 3px;
      vertical-align: top;
      overflow: hidden;
    }
    &--CD {
      @extend %col-9;
    }
  }

  &__item {
    margin: 3px;
    padding: 8px 24px;

    &--A {
      @extend %col-16;
      margin: 3px 0;
      background: #ec753f;
    }
    &--B1 {
      @extend %col-7;
      margin: 3px 0 0;
      min-height: 115px;
      display: flex;
      align-items: center;
      background: #ffd642;

      @include breakpoint($sm $tb - 1) {
        min-height: 100px;
      }
      @include breakpoint($tb $md - 1) {
        min-height: 115px;
      }
      @include breakpoint($md $lg - 1) {
        min-height: 132px;
      }
      @include breakpoint($lg $wd - 1) {
        min-height: 145px;
      }
      @include breakpoint($wd) {
        min-height: 165px;
      }
    }
    &--B2 {
      @extend %col-9;
      @include last;
      margin: 3px 0;
      padding: 7px 0 7px 24px;
      background: #ffd642;
    }
    &--B3 {
      padding: 8px 24px;
      background: #ffd642;
      @extend %col-9;
      @include last;
    }
    &--B6 {
      @extend %col-16;
      margin: 3px 0 6px;
      background: #ffd642;
    }
    &--B12 {
      @extend %col-16;
      margin: 3px 0;
      background: #ffd642;
    }
    &--C {
      margin-left: 0;
      padding: 7px 0 7px 24px;
      background: #cfe56b;
    }
    &--D3 {
      margin-top: 6px;
      margin-left: 0;
      background: #6dc8ff;
    }
    &--E {
      @extend %col-7;
      @include last;
      min-height: 115px;
      display: flex;
      align-items: center;
      background: #e764a9;
      padding-right: 0;

      @include breakpoint($sm $tb - 1) {
        min-height: 100px;
      }
      @include breakpoint($tb $md - 1) {
        min-height: 115px;
      }
      @include breakpoint($md $lg - 1) {
        min-height: 132px;
      }
      @include breakpoint($lg $wd - 1) {
        min-height: 145px;
      }
      @include breakpoint($wd) {
        min-height: 165px;
      }
    }
    &--B9 {
      @extend %col-16;
      margin: 3px 0 0;
      background: #d4b4db;
    }
  }

  &__name {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-family: $ptsans;
    font-size: 28px;
    font-weight: bold;

    @include breakpoint($sm $tb - 1) {
      font-size: 32px;
    }
    @include breakpoint($tb $md - 1) {
      font-size: 36px;
    }
    @include breakpoint($md $lg - 1) {
      font-size: 48px;
    }
    @include breakpoint($lg $wd - 1) {
      font-size: 54px;
    }
    @include breakpoint($wd) {
      font-size: 64px;
    }

    &--B12 {
      letter-spacing: -0.05em;
    }
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
    color: #1b1400;
    font-family: $ptsans-caption;
    font-size: 14px;
    font-weight: bold;

    @include breakpoint($sm $tb - 1) {
      font-size: 13px;
    }
    @include breakpoint($tb $md - 1) {
      font-size: 15px;
    }
    @include breakpoint($md $lg - 1) {
      font-size: 20px;
    }
    @include breakpoint($lg $wd - 1) {
      font-size: 24px;
    }
    @include breakpoint($wd) {
      font-size: 28px;
    }

    &--A {
      padding-left: 75px;
    }
    &--B1 {
      padding-left: 40px;
      width: 80%;
      line-height: 1.4;
    }
    &--B2 {
      padding-left: 15px;
      width: 85%;
    }
    &--B3 {
      padding-left: 15px;
      width: 85%;
    }
    &--B6 {
      padding-left: 40px;
    }
    &--B12 {
      padding-left: 24px;

      @include breakpoint($wd) {
        padding-left: 12px;
      }
    }
    &--C {
      max-width: 90%;
      padding-left: 60px;

      @include breakpoint($lg $wd - 1) {
        padding-left: 70px;
      }
    }
    &--D3 {
      padding-left: 40px;
      width: 85%;
    }
    &--E {
      padding-left: 15px;
      width: 85%;
    }
    &--B9 {
      padding-left: 50px;
      width: 50%;
    }
  }

  &__download {
    display: block;
    max-width: 335px;
    padding: 20px;
    margin: 0 auto 48px;
    background: $gold;
    color: #fff;
    font-family: $ptserif;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
      background: darken($gold, 10%);
    }
  }
}
