$s-baby-x: 604px;
$s-baby-y: 225px;
$s-baby-offset-x: -604px;
$s-baby-offset-y: -225px;
$s-baby-width: 59px;
$s-baby-height: 59px;
$s-baby-total-width: 667px;
$s-baby-total-height: 489px;
$s-baby-image: 'sprites.png';
$s-baby: 604px 225px -604px -225px 59px 59px 667px 489px 'sprites.png';
$s-beans-x: 179px;
$s-beans-y: 307px;
$s-beans-offset-x: -179px;
$s-beans-offset-y: -307px;
$s-beans-width: 174px;
$s-beans-height: 105px;
$s-beans-total-width: 667px;
$s-beans-total-height: 489px;
$s-beans-image: 'sprites.png';
$s-beans: 179px 307px -179px -307px 174px 105px 667px 489px 'sprites.png';
$s-cabbage-x: 354px;
$s-cabbage-y: 141px;
$s-cabbage-offset-x: -354px;
$s-cabbage-offset-y: -141px;
$s-cabbage-width: 135px;
$s-cabbage-height: 133px;
$s-cabbage-total-width: 667px;
$s-cabbage-total-height: 489px;
$s-cabbage-image: 'sprites.png';
$s-cabbage: 354px 141px -354px -141px 135px 133px 667px 489px 'sprites.png';
$s-cheese-x: 514px;
$s-cheese-y: 106px;
$s-cheese-offset-x: -514px;
$s-cheese-offset-y: -106px;
$s-cheese-width: 122px;
$s-cheese-height: 119px;
$s-cheese-total-width: 667px;
$s-cheese-total-height: 489px;
$s-cheese-image: 'sprites.png';
$s-cheese: 514px 106px -514px -106px 122px 119px 667px 489px 'sprites.png';
$s-child-x: 589px;
$s-child-y: 314px;
$s-child-offset-x: -589px;
$s-child-offset-y: -314px;
$s-child-width: 76px;
$s-child-height: 61px;
$s-child-total-width: 667px;
$s-child-total-height: 489px;
$s-child-image: 'sprites.png';
$s-child: 589px 314px -589px -314px 76px 61px 667px 489px 'sprites.png';
$s-close-x: 636px;
$s-close-y: 106px;
$s-close-offset-x: -636px;
$s-close-offset-y: -106px;
$s-close-width: 28px;
$s-close-height: 28px;
$s-close-total-width: 667px;
$s-close-total-height: 489px;
$s-close-image: 'sprites.png';
$s-close: 636px 106px -636px -106px 28px 28px 667px 489px 'sprites.png';
$s-down-x: 353px;
$s-down-y: 307px;
$s-down-offset-x: -353px;
$s-down-offset-y: -307px;
$s-down-width: 67px;
$s-down-height: 67px;
$s-down-total-width: 667px;
$s-down-total-height: 489px;
$s-down-image: 'sprites.png';
$s-down: 353px 307px -353px -307px 67px 67px 667px 489px 'sprites.png';
$s-drop-x: 0px;
$s-drop-y: 419px;
$s-drop-offset-x: 0px;
$s-drop-offset-y: -419px;
$s-drop-width: 46px;
$s-drop-height: 70px;
$s-drop-total-width: 667px;
$s-drop-total-height: 489px;
$s-drop-image: 'sprites.png';
$s-drop: 0px 419px 0px -419px 46px 70px 667px 489px 'sprites.png';
$s-fish-x: 514px;
$s-fish-y: 0px;
$s-fish-offset-x: -514px;
$s-fish-offset-y: 0px;
$s-fish-width: 153px;
$s-fish-height: 106px;
$s-fish-total-width: 667px;
$s-fish-total-height: 489px;
$s-fish-image: 'sprites.png';
$s-fish: 514px 0px -514px 0px 153px 106px 667px 489px 'sprites.png';
$s-madein-x: 636px;
$s-madein-y: 134px;
$s-madein-offset-x: -636px;
$s-madein-offset-y: -134px;
$s-madein-width: 29px;
$s-madein-height: 19px;
$s-madein-total-width: 667px;
$s-madein-total-height: 489px;
$s-madein-image: 'sprites.png';
$s-madein: 636px 134px -636px -134px 29px 19px 667px 489px 'sprites.png';
$s-melon-x: 354px;
$s-melon-y: 0px;
$s-melon-offset-x: -354px;
$s-melon-offset-y: 0px;
$s-melon-width: 160px;
$s-melon-height: 141px;
$s-melon-total-width: 667px;
$s-melon-total-height: 489px;
$s-melon-image: 'sprites.png';
$s-melon: 354px 0px -354px 0px 160px 141px 667px 489px 'sprites.png';
$s-orange-x: 0px;
$s-orange-y: 0px;
$s-orange-offset-x: 0px;
$s-orange-offset-y: 0px;
$s-orange-width: 179px;
$s-orange-height: 156px;
$s-orange-total-width: 667px;
$s-orange-total-height: 489px;
$s-orange-image: 'sprites.png';
$s-orange: 0px 0px 0px 0px 179px 156px 667px 489px 'sprites.png';
$s-pipet-x: 514px;
$s-pipet-y: 314px;
$s-pipet-offset-x: -514px;
$s-pipet-offset-y: -314px;
$s-pipet-width: 75px;
$s-pipet-height: 75px;
$s-pipet-total-width: 667px;
$s-pipet-total-height: 489px;
$s-pipet-image: 'sprites.png';
$s-pipet: 514px 314px -514px -314px 75px 75px 667px 489px 'sprites.png';
$s-potato-x: 179px;
$s-potato-y: 0px;
$s-potato-offset-x: -179px;
$s-potato-offset-y: 0px;
$s-potato-width: 175px;
$s-potato-height: 149px;
$s-potato-total-width: 667px;
$s-potato-total-height: 489px;
$s-potato-image: 'sprites.png';
$s-potato: 179px 0px -179px 0px 175px 149px 667px 489px 'sprites.png';
$s-prune-x: 0px;
$s-prune-y: 307px;
$s-prune-offset-x: 0px;
$s-prune-offset-y: -307px;
$s-prune-width: 179px;
$s-prune-height: 112px;
$s-prune-total-width: 667px;
$s-prune-total-height: 489px;
$s-prune-image: 'sprites.png';
$s-prune: 0px 307px 0px -307px 179px 112px 667px 489px 'sprites.png';
$s-slice-x: 420px;
$s-slice-y: 307px;
$s-slice-offset-x: -420px;
$s-slice-offset-y: -307px;
$s-slice-width: 66px;
$s-slice-height: 66px;
$s-slice-total-width: 667px;
$s-slice-total-height: 489px;
$s-slice-image: 'sprites.png';
$s-slice: 420px 307px -420px -307px 66px 66px 667px 489px 'sprites.png';
$s-spinach-x: 153px;
$s-spinach-y: 156px;
$s-spinach-offset-x: -153px;
$s-spinach-offset-y: -156px;
$s-spinach-width: 191px;
$s-spinach-height: 120px;
$s-spinach-total-width: 667px;
$s-spinach-total-height: 489px;
$s-spinach-image: 'sprites.png';
$s-spinach: 153px 156px -153px -156px 191px 120px 667px 489px 'sprites.png';
$s-standard-x: 514px;
$s-standard-y: 225px;
$s-standard-offset-x: -514px;
$s-standard-offset-y: -225px;
$s-standard-width: 90px;
$s-standard-height: 89px;
$s-standard-total-width: 667px;
$s-standard-total-height: 489px;
$s-standard-image: 'sprites.png';
$s-standard: 514px 225px -514px -225px 90px 89px 667px 489px 'sprites.png';
$s-sunflower-x: 0px;
$s-sunflower-y: 156px;
$s-sunflower-offset-x: 0px;
$s-sunflower-offset-y: -156px;
$s-sunflower-width: 153px;
$s-sunflower-height: 151px;
$s-sunflower-total-width: 667px;
$s-sunflower-total-height: 489px;
$s-sunflower-image: 'sprites.png';
$s-sunflower: 0px 156px 0px -156px 153px 151px 667px 489px 'sprites.png';
